:root {
  --color-primary-50: 245 243 255;
  --color-primary-100: 237 233 254;
  --color-primary-200: 221 214 254;
  --color-primary-300: 196 181 253;
  --color-primary-400: 167 139 250;
  --color-primary-500: 139 92 246;
  --color-primary-600: 124 58 237;
  --color-primary-700: 109 40 217;
  --color-primary-800: 91 33 182;
  --color-primary-900: 76 29 149;
  --color-primary-950: 46 16 101;
  --color-muted-50: 248 250 252;
  --color-muted-100: 241 245 249;
  --color-muted-200: 226 232 240;
  --color-muted-300: 203 213 225;
  --color-muted-400: 148 163 184;
  --color-muted-500: 100 116 139;
  --color-muted-600: 71 85 105;
  --color-muted-700: 51 65 85;
  --color-muted-800: 30 41 59;
  --color-muted-900: 15 23 42;
  --color-muted-950: 2 6 23;
  --text-muted-800: 30 41 59;
  --text-muted-700: 51 65 85;
  --color-primary-500: 139 92 246;
  --bg-color: 139 92 246;
}

* {
  -webkit-tap-highlight-color: #fff0;
}

.text-muted-400,
.hover\:text-muted-400:hover {
  color: rgb(var(--color-muted-400) / 1);
}
.bg-color-primary {
  background-color: rgb(var(--bg-color));
}
.text-muted-300,
.hover\:text-muted-300:hover {
  color: rgb(var(--color-muted-300));
}

.text-primary-500,
.hover\:text-primary-500:hover {
  color: rgb(var(--color-primary-500) / 1);
}

.text-success-500 {
  --tw-text-opacity: 1;
  color: #14b8a6;
  color: rgb(20 184 166 / var(--tw-text-opacity));
}

.text-muted-700 {
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-700) / 1);
  color: rgb(var(--color-muted-700) / var(--tw-text-opacity));
}

.text-warning-500 {
  --tw-text-opacity: 1;
  color: #f59e0b;
  color: rgb(245 158 11 / var(--tw-text-opacity));
}

.text-danger-500 {
  --tw-text-opacity: 1;
  color: #dc4c64;
}

.text-muted-800 {
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-800) / 1);
  color: rgb(var(--color-muted-800) / var(--tw-text-opacity));
}

.text-primary-600 {
  --tw-text-opacity: 1;
  color: rgb(var(--color-primary-600));
  color: rgb(var(--color-primary-600) / var(--tw-text-opacity));
}

.text.userauth-avatar.userauth-avatar-lg {
  height: 4rem;
  width: 4rem;
}

.text-muted-500 {
  color: rgb(var(--color-muted-500));
}

.color-primary-500 {
  color: rgb(var(--color-primary-500) / 1);
}

.bg-primary-100,
.hover\:bg-primary-100:hover {
  background-color: rgb(var(--color-primary-100));
}

.bg-muted-100 {
  background-color: rgb(var(--color-muted-100) / 1);
}

.bg-primary-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-500));
  background-color: rgb(var(--color-primary-500) / var(--tw-bg-opacity));
}

.bg-success-100 {
  --tw-bg-opacity: 1;
  background-color: #ccfbf1;
  background-color: rgb(204 251 241 / var(--tw-bg-opacity));
}

.bg-muted-800\/70 {
  background-color: rgb(var(--color-muted-800) / 0.7);
}

.bg-muted-800 {
  background-color: rgb(var(--color-muted-800));
}

.bg-website {
  background-color: #fcc60e;
}

.bg-seo {
  background-color: #5595f7;
}

.bg-smm {
  background-color: #4ab565;
}

.border-muted-300 {
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-300) / var(--tw-border-opacity));
}

.hover\:border-primary-500:hover {
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-primary-500) / var(--tw-border-opacity));
}

.border-success-100 {
  --tw-border-opacity: 1;
  border-color: #ccfbf1;
  border-color: rgb(204 251 241 / var(--tw-border-opacity));
}

.group:hover .group-hover\:ring-primary-500 {
  --tw-ring-color: rgb(var(--color-primary-500) / 1);
}

.border-muted-200 {
  border-color: rgb(var(--color-muted-200) / 1);
}

.hover\:ring-muted-200:hover {
  --tw-ring-color: rgb(var(--color-muted-200) / 1);
}

.placeholder\:\!text-transparent::placeholder {
  color: transparent !important;
}

.placeholder\:text-muted-100\/30::placeholder {
  color: rgb(var(--color-muted-100) / 0.3);
}

.placeholder\:text-muted-300::placeholder {
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-300));
  color: rgb(var(--color-muted-300) / var(--tw-text-opacity));
}

.placeholder\:text-transparent::placeholder {
  color: #fff0;
}

.userauth-focus {
  outline-color: #fff0;
  outline-offset: 2px;
  outline-style: dashed;
  outline-width: 1px;
}

.userauth-focus:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width))
    var(--tw-ring-color);
  box-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
      var(--tw-ring-offset-color),
    var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width))
      var(--tw-ring-color),
    0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  outline-style: dashed;
}

.userauth-focus:hover {
  outline-color: rgb(var(--color-muted-300) / 1);
}

.userauth-bg-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-50));
  background-color: rgb(var(--color-muted-50) / var(--tw-bg-opacity));
}

.userauth-label {
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-400));
  color: rgb(var(--color-muted-400) / var(--tw-text-opacity));
  display: inline-block;
  line-height: 1;
}

[data-tooltip] {
  position: relative;
  display: inline-block;
}

[data-tooltip]:before {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -12px);
  z-index: 1000;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  transition: opacity 0.35s ease 0.25s;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  background: #343e4e;
  color: #fff;
  font-size: 14px;
  padding: 4px 10px;
  white-space: nowrap;
  bottom: 100%;
  border-radius: 3px;
}

[data-tooltip]:active:before,
[data-tooltip]:focus:before,
[data-tooltip]:hover:before {
  opacity: 1;
}

[data-tooltip].tooltip-multiline:before {
  width: 100vw;
  max-width: 240px;
  white-space: normal;
}

[data-tooltip][class*="tooltip-bottom"]:before {
  transform: translate(-50%, 12px);
}

[data-tooltip][class*="tooltip-bottom"]:before {
  bottom: auto;
  top: 100%;
}

[data-tooltip].tooltip-bottom-left:before {
  transform: translate(-24px, 12px);
}

[data-tooltip].tooltip-bottom-right:before {
  left: auto;
  right: 50%;
  transform: translate(24px, 12px);
}

[data-tooltip].tooltip-top-left:before {
  transform: translate(-24px, -12px);
}

[data-tooltip].tooltip-top-right:before {
  left: auto;
  right: 50%;
  transform: translate(24px, -6px);
}

[data-tooltip][class*="tooltip-right"]:before {
  transform: translate(12px, -50%);
}

[data-tooltip][class*="tooltip-right"]:before {
  left: 100%;
  top: 50%;
  bottom: auto;
  border-left-color: #333;
}

[data-tooltip][class*="tooltip-left"]:before {
  transform: translate(-24px, -50%);
}

[data-tooltip][class*="tooltip-left"]:before {
  left: auto;
  right: 50%;
  top: 50%;
  bottom: auto;
  border-right-color: #333;
}

:is(.dark .userauth-focus:hover) {
  outline-color: rgb(var(--color-muted-600) / 1);
}

:is(.dark .dark\:bg-muted-900) {
  background-color: rgb(var(--color-muted-900) / 1);
  background-color: rgb(var(--color-muted-900));
}

:is(.dark .dark\:border-muted-700) {
  border-color: rgb(var(--color-muted-700) / 1);
}

:is(.dark .dark\:bg-muted-800) {
  background-color: rgb(var(--color-muted-800) / 1);
  background-color: rgb(var(--color-muted-800));
}

:is(.dark .dark\:bg-primary-500\/10) {
  background-color: rgb(var(--color-primary-500) / 0.1);
}

.dark [data-tooltip]:before {
  background: #292e4e;
}

:is(.dark .dark\:ring-offset-muted-900) {
  --tw-ring-offset-color: rgb(var(--color-muted-900) / 1);
}

:is(.dark .dark\:hover\:ring-muted-700:hover) {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(var(--color-muted-700) / var(--tw-ring-opacity));
}

:is(.dark .dark\:divide-muted-700) > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(var(--color-muted-700) / var(--tw-divide-opacity));
}

:is(.dark .is-button-default) {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgb(var(--color-muted-700) / 1);
  background-color: rgb(var(--color-muted-700) / var(--tw-bg-opacity));
  border-color: rgb(var(--color-muted-600) / var(--tw-border-opacity));
  color: #fff;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

:is(.dark .is-button-default:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-600) / 1);
  background-color: rgb(var(--color-muted-600) / var(--tw-bg-opacity));
}

:is(.dark .is-button:focus-within) {
  outline-color: rgb(var(--color-muted-600) / 1);
}

.is-button-default {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: #fff;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-color: rgb(var(--color-muted-300) / var(--tw-border-opacity));
  border-width: 1px;
  color: rgb(var(--color-muted-700));
  color: rgb(var(--color-muted-700) / var(--tw-text-opacity));
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.5rem 1.25rem;
  text-decoration-line: none;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  display: inline-flex;
  height: 2.5rem;
  justify-content: center;
  position: relative;
  outline-color: #fff0;
  outline-offset: 2px;
  outline-style: dashed;
  outline-width: 1px;
}

.is-button-default:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-50) / 1);
  background-color: rgb(var(--color-muted-50) / var(--tw-bg-opacity));
}

.is-button {
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.5rem 1.25rem;
  text-decoration-line: none;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  display: inline-flex;
  height: 2.5rem;
  justify-content: center;
  position: relative;
  outline-color: #fff0;
  outline-offset: 2px;
  outline-style: dashed;
  outline-width: 1px;
}

.is-button > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-left: 0.25rem;
  margin-left: calc(0.25rem * (1 - var(--tw-space-x-reverse)));
  margin-right: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
}

.is-button:hover {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.is-button:focus-within {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width))
    var(--tw-ring-color);
  box-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
      var(--tw-ring-offset-color),
    var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width))
      var(--tw-ring-color),
    0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  outline-color: rgb(var(--color-muted-300) / 1);
  outline-style: dashed;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.userauth-avatar.userauth-avatar-lg {
  height: 4rem;
  width: 4rem;
}

.userauth-avatar .userauth-avatar-img {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 999px;
}

.userauth-button.userauth-button-solid.userauth-button-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-500));
}

.userauth-button.userauth-button-rounded {
  border-radius: 0.375rem;
}

.userauth-button.userauth-button-medium {
  font-size: 0.875rem;
  height: 2.5rem;
  line-height: 1.25rem;
  padding: 0.5rem 1.25rem;
}

.userauth-button {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(var(--color-primary-500) / 1);
}

.userauth-card {
  position: relative;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}

.userauth-heading.userauth-heading-xl {
  font-size: 1.25rem;
}

.userauth-card.userauth-card-rounded {
  border-radius: 0.375rem;
}

.userauth-card.userauth-card-white {
  --tw-bg-opacity: 1;
  background-color: #fff;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.userauth-heading.userauth-lead-tight {
  line-height: 1.25;
}

.userauth-heading.userauth-weight-semibold {
  font-weight: 600;
}

.userauth-heading.userauth-heading-md {
  font-size: 1rem;
  line-height: 1.5rem;
}

.userauth-input-wrapper {
  position: relative;
}

.userauth-input-wrapper .userauth-input-outer {
  position: relative;
}

.userauth-input-wrapper.userauth-has-icon.userauth-input-md .userauth-input {
  font-size: 0.875rem;
  height: 2.5rem;
  line-height: 1.25rem;
  padding-bottom: 0.5rem;
  padding-inline-end: 1rem;
  padding-top: 0.5rem;
  padding-inline-start: 2.5rem;
}

.userauth-input-wrapper.userauth-input-default .userauth-input {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-300) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-600) / var(--tw-text-opacity));
}

.userauth-input-wrapper.userauth-input-rounded .userauth-input {
  border-radius: 0.375rem;
}

.userauth-input-wrapper .userauth-input {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Inter Variable, sans-serif;
  width: 100%;
  outline-color: #fff0;
  outline-offset: 2px;
  outline-style: dashed;
  outline-width: 2px;
}

.userauth-input-wrapper.userauth-input-md .userauth-input-icon {
  height: 2.5rem;
  width: 2.5rem;
}

.userauth-input-wrapper .userauth-input-icon {
  transition-duration: 0.3s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  display: flex;
  inset-inline-start: 0;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 10;
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-400) / 1);
  color: rgb(var(--color-muted-400) / var(--tw-text-opacity));
}

.userauth-input-wrapper.userauth-input-md
  .userauth-input-icon
  .userauth-input-icon-inner {
  height: 1.15rem;
  width: 1.15rem;
}

.userauth-tag {
  display: inline-block;
  font-family: Inter Variable, sans-serif;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.userauth-tag.userauth-tag-sm {
  font-size: 0.65rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.userauth-tag.userauth-tag-pastel.userauth-tag-success {
  --tw-text-opacity: 1;
  color: #14b8a6;
  color: rgb(20 184 166 / var(--tw-text-opacity));
  background-color: rgb(20 184 166 / 0.2);
}

.userauth-tag.userauth-tag-full {
  border-radius: 9999px;
}

.userauth-button-action.userauth-button-muted {
  --tw-border-opacity: 1;
  color: #fff;
  border-color: rgb(var(--color-muted-200) / var(--tw-border-opacity));
  background-color: rgb(40 202 105 / 76%);
  font-size: 20px;
}

.userauth-button-action.userauth-button-rounded {
  border-radius: 0.375rem;
}

.userauth-button-action {
  border-width: 1px;
  font-family: Inter Variable, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  text-decoration-line: none;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.userauth-button-action {
  outline-color: #fff0;
  outline-offset: 2px;
  outline-style: dashed;
  outline-width: 2px;
  align-items: center;
  display: inline-flex;
  height: 2rem;
  justify-content: center;
  position: relative;
}

.userauth-card.userauth-card-white {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-200) / var(--tw-border-opacity));
}

.userauth-tag.userauth-tag-pastel.userauth-tag-pending {
  background-color: rgb(245 158 11 / 0.2);
  color: rgb(245 158 11 / var(--tw-text-opacity));
}

.userauth-tag.userauth-tag-pastel.userauth-tag-failed {
  background-color: rgb(220 76 100 / 0.2);
  color: rgb(220 76 100 / var(--tw-text-opacity));
}

.userauth-tag.userauth-tag-pastel.userauth-tag-processing {
  background-color: rgb(139 92 246 / 0.2);
  color: rgb(139 92 246 / var(--tw-text-opacity));
}

.userauth-tag.userauth-tag-pastel.userauth-tag-cancelled {
  background-color: rgb(100 116 139 / 0.2);
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.userauth-tag.userauth-tag-pastel.userauth-tag-refunded {
  background-color: rgb(255 38 0 / 0.2);
  color: rgb(71 85 105 / var(--tw-text-opacity));
}

.userauth-pagination {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.userauth-pagination.userauth-pagination-curved .userauth-pagination-buttons,
.userauth-pagination.userauth-pagination-curved
  .userauth-pagination-buttons
  .userauth-pagination-button,
.userauth-pagination.userauth-pagination-curved .userauth-pagination-ellipsis,
.userauth-pagination.userauth-pagination-curved .userauth-pagination-link,
.userauth-pagination.userauth-pagination-curved .userauth-pagination-list {
  border-radius: 0.75rem;
}

:is(.dark .userauth-pagination .userauth-pagination-buttons) {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-900) / 1);
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-900) / var(--tw-border-opacity));
}

.userauth-pagination .userauth-pagination-list {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-100) / 1);
  background-color: rgb(var(--color-muted-100) / var(--tw-bg-opacity));
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-200) / var(--tw-border-opacity));
}

:is(.dark .userauth-pagination .userauth-pagination-list) {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-900) / 1);
  border-color: rgb(var(--color-muted-900) / var(--tw-border-opacity));
}

:is(
    .dark
      .userauth-pagination
      .userauth-pagination-buttons
      .userauth-pagination-button
  ) {
  --tw-text-opacity: 1;
  color: #fff;
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-800) / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-200) / var(--tw-border-opacity));
}

.userauth-pagination .userauth-pagination-link {
  align-items: center;
  display: flex;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  height: 2.5rem;
  line-height: 1.25rem;
  padding: 0.25rem;
  width: 2.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-100) / 1);
  background-color: rgb(var(--color-muted-100) / var(--tw-bg-opacity));
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-200) / var(--tw-border-opacity));
}

.userauth-pagination .userauth-pagination-link.userauth-active {
  --tw-text-opacity: 1;
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-primary-500) / var(--tw-border-opacity));
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-primary-500) / 1);
  background-color: rgb(var(--color-primary-500) / var(--tw-bg-opacity));
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: 0 0 #0000, 0 0 #0000,
    0 1px 2px 0 rgb(var(--color-primary-500) / 0.5);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: rgb(var(--color-primary-500) / 0.5);
  --tw-shadow: var(--tw-shadow-colored);
}

.userauth-pagination .userauth-pagination-link:not(.userauth-active) {
  --tw-bg-opacity: 1;
  background-color: #fff;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-200) / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-500) / var(--tw-text-opacity));
}

.userauth-pagination .userauth-pagination-buttons {
  align-items: center;
  border-width: 1px;
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
  padding: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-100) / 1);
  background-color: rgb(var(--color-muted-100) / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-200) / var(--tw-border-opacity));
}

.userauth-pagination .userauth-pagination-buttons .userauth-pagination-button {
  align-items: center;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  width: 50px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-500) / 1);
  color: rgb(var(--color-muted-500) / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: #fff;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-200) / var(--tw-border-opacity));
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.userauth-avatar.userauth-avatar-full,
.userauth-avatar.userauth-avatar-full .userauth-avatar-inner {
  border-radius: 9999px;
}

.userauth-avatar.userauth-avatar-xl {
  height: 5rem;
  width: 5rem;
}

.text-info-500 {
  --tw-text-opacity: 1;
  color: #0ea5e9;
  color: rgb(14 165 233 / var(--tw-text-opacity));
}

.bg-info-500\/20 {
  background-color: rgb(14 165 233 / 0.2);
}

.userauth-avatar {
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  outline: 2px solid #fff0;
  outline-offset: 2px;
  position: relative;
}

.userauth-avatar .userauth-avatar-inner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.userauth-heading.userauth-lead-none {
  line-height: 1;
}

.userauth-heading.userauth-weight-medium {
  font-weight: 500;
}

.userauth-heading.userauth-heading-md {
  font-size: 1rem;
  color: #000;
}

.userauth-paragraph.userauth-lead-normal {
  line-height: 1.5;
}

.userauth-paragraph.userauth-weight-normal {
  font-weight: 400;
}

.userauth-paragraph.userauth-paragraph-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-muted-400 {
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-400) / 1);
  color: rgb(var(--color-muted-400) / var(--tw-text-opacity));
}

.userauth-button.userauth-button-solid.userauth-button-default {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-200) / var(--tw-border-opacity));
}

:is(.dark .userauth-card.userauth-card-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-800) / 1);
  background-color: rgb(var(--color-muted-800) / var(--tw-bg-opacity));
}

:is(.dark .userauth-card.userauth-card-white) {
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-700) / var(--tw-border-opacity));
}

:is(.dark .dark\:text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

:is(.dark .dark\:text-muted-100) {
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-100) / var(--tw-text-opacity));
}

:is(.dark .userauth-input-wrapper.userauth-input-default .userauth-input) {
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-700) / var(--tw-border-opacity));
}

:is(.dark .userauth-input-wrapper.userauth-input-default .userauth-input) {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-900) / 1);
  background-color: rgb(var(--color-muted-900) / var(--tw-bg-opacity));
}

:is(.dark .userauth-input-wrapper.userauth-input-default .userauth-input) {
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-200) / 1);
  color: rgb(var(--color-muted-200) / var(--tw-text-opacity));
}

.userauth-heading.userauth-weight-medium {
  font-weight: 500;
}

:is(.dark .userauth-heading.userauth-heading-md) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.userauth-heading.userauth-heading-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.userauth-paragraph.userauth-lead-normal {
  line-height: 1.5;
}

.userauth-paragraph.userauth-weight-normal {
  font-weight: 400;
}

.userauth-paragraph.userauth-paragraph-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.bg-muted-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-200) / 1);
  background-color: rgb(var(--color-muted-200) / var(--tw-bg-opacity));
}

.text-muted-600 {
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-600));
  color: rgb(var(--color-muted-600) / var(--tw-text-opacity));
}

.userauth-input-wrapper {
  position: relative;
}

.userauth-input-wrapper.userauth-input-md .userauth-input-label {
  font-size: 0.825rem;
  padding-bottom: 0.25rem;
}

.userauth-input-wrapper .userauth-input-label,
.userauth-input-wrapper .userauth-label-float {
  display: inline-block;
  font-family: Inter Variable, sans-serif;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-400) / 1);
  color: rgb(var(--color-muted-400) / var(--tw-text-opacity));
}

.userauth-input-wrapper .userauth-input-outer {
  position: relative;
}

.userauth-input-wrapper.userauth-input-default .userauth-input {
  --tw-bg-opacity: 1;
  background-color: #fff;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-600) / 1);
  color: rgb(var(--color-muted-600) / var(--tw-text-opacity));
}

.userauth-input-wrapper.userauth-input-rounded .userauth-input {
  border-radius: 0.375rem;
}

.userauth-input-wrapper .userauth-input {
  outline-color: #fff0;
  outline-offset: 2px;
  outline-style: dashed;
  outline-width: 2px;
  width: 100%;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px;
}

.userauth-checkbox.userauth-checkbox-primary {
  --tw-text-opacity: 1;
  color: rgb(var(--color-primary-500) / 1);
  color: rgb(var(--color-primary-500) / var(--tw-text-opacity));
}

.userauth-checkbox {
  align-items: flex-start;
  display: inline-flex;
  gap: 0.25rem;
  position: relative;
}

.userauth-checkbox.userauth-checkbox-rounded .userauth-checkbox-inner,
.userauth-checkbox.userauth-checkbox-rounded .userauth-checkbox-outer {
  border-radius: 0.25rem;
}

.userauth-checkbox .userauth-checkbox-outer {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: 1.25rem;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 1.25rem;
}

.userauth-checkbox .userauth-checkbox-outer {
  outline-color: #fff0;
  outline-offset: 2px;
  outline-style: dashed;
  outline-width: 2px;
}

.userauth-checkbox .userauth-checkbox-label-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.userauth-checkbox .userauth-checkbox-label-text {
  cursor: pointer;
  font-family: Inter Variable, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-inline-start: 0.25rem;
  -webkit-user-select: none;
  user-select: none;
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-400) / 1);
  color: rgb(var(--color-muted-400) / var(--tw-text-opacity));
}

:is(.dark .dark\:text-white) {
  --tw-text-opacity: 1;
  color: #fff;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

:is(.dark .dark\:bg-muted-700) {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-700) / 1);
  background-color: rgb(var(--color-muted-700) / var(--tw-bg-opacity));
}

:is(.dark .dark\:border-muted-600) {
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-600) / var(--tw-border-opacity));
}

:is(.dark .dark\:bg-muted-700) {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-700) / 1);
  background-color: rgb(var(--color-muted-700) / var(--tw-bg-opacity));
}

:is(.dark .dark\:border-muted-600) {
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-600) / var(--tw-border-opacity));
}

:is(.dark .userauth-input-wrapper.userauth-input-default .userauth-input) {
  --tw-border-opacity: 1;
  border-color: rgb(var(--color-muted-700) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-muted-900));
  background-color: rgb(var(--color-muted-900) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(var(--color-muted-200));
  color: rgb(var(--color-muted-200) / var(--tw-text-opacity));
}

.userauth-placeload {
  background: linear-gradient(
    90deg,
    rgb(0 0 0 / 7%) 8%,
    rgb(0 0 0 / 0.15) 18%,
    rgb(0 0 0 / 7%) 33%
  );
  background-size: 1200px 104px;
  position: relative;
}

@keyframes userauth-placeload {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.animate-userauth-placeload {
  animation: userauth-placeload 1s linear infinite forwards;
}

.drop-down {
  position: relative;
  display: inline-block;
}
