:root {
  --color-muted-100: 241 245 249;
  --color-primary-500: 139 92 246;
  --color-primary-600: 124 58 237;
  --color-muted-300: 203 213 225;
  --color-muted-400: 148 163 184;
  --color-muted-600: 71 85 105;
  --bg-color: 139 92 246;
}
.bg-muted-100 {
  background-color: rgb(var(--color-muted-100) / 1);
}
.text-muted-400,
.hover\:text-muted-400:hover {
  color: rgb(var(--color-muted-400) / 1);
}

.bg-color-primary {
  background-color: rgb(var(--bg-color));
}

.text-muted-300,
.hover\:text-muted-300:hover {
  color: rgb(var(--color-muted-300));
}

.text-primary-500,
.hover\:text-primary-500:hover {
  color: rgb(var(--color-primary-500) / 1);
}

.text-primary-600 {
  --tw-text-opacity: 1;
  color: rgb(var(--color-primary-600));
}

.userauth-button:hover {
  background-color: rgb(var(--color-primary-500) / 0.8);
}

.userauth-button {
  background-color: rgb(var(--color-primary-500) / 1);
}

.userauth-input-wrapper {
  position: relative;
}

.userauth-input-wrapper.userauth-has-icon.userauth-input-md .userauth-input {
  font-size: 0.875rem;
  height: 2.5rem;
  line-height: 1.25rem;
  padding-bottom: 0.5rem;
  padding-inline-end: 1rem;
  padding-top: 0.5rem;
  padding-inline-start: 2.5rem;
  border: 1px solid rgb(var(--color-muted-300));
}

.userauth-input-wrapper.userauth-input-default .userauth-input {
  border-width: 1px;
  border-color: rgb(var(--color-muted-300));
  background-color: rgb(255 255 255);
  color: rgb(var(--color-muted-600));
}

.userauth-input-wrapper.userauth-input-md .userauth-input-icon {
  height: 2.5rem;
  width: 2.5rem;
}

.userauth-input-wrapper .userauth-input-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 10;
  color: rgb(var(--color-muted-400));
}

.userauth-input-wrapper.userauth-input-md
  .userauth-input-icon
  .userauth-input-icon-inner {
  height: 1.15rem;
  width: 1.15rem;
}

.userauth-input-wrapper .userauth-input {
  outline-color: #fff0;
  outline-offset: 2px;
  outline-style: dashed;
  outline-width: 2px;
  width: 100%;
  padding: 8px;
}

.userauth-button-text {
  color: #fff;
}
